/*h1{*/
    /*color: black;*/
    /*text-align: center;*/
    /*font-size:55px;*/
/*}*/

/*body{*/
    /*color: red;*/
    /*background-color:black;*/
/*}*/

body{
    color:red;
}
h1{
    height: 700px;
}
h2{
    height: 700px;
    padding:10px;
    border:100px;
}

.bottom-bar-pannel{
    position: fixed;
    height: 40px;
    width: 100%;
    bottom: 0;
    background-color: #ffffff;
    text-align: center;
    /*box-shadow: 10px 10px 5px #888888;*/
}
.bottom-bar-pannel span{

}


