body{
    background-color: cadetblue;
}


h1{
    color:white;
    text-align: center;
}

p{
    font-size: 20px;
    color: red;
    text-align: center;
}


p.center{
    color: black;
    text-align: center;
}
