<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>233</title>
  <script type='text/javascript'>
  </script>
  <%= htmlWebpackPlugin.options.env  %>

  <% if (false) { %>
  <script type="text/javascript" src="https://assets.growingio.com/sdk/wx/vds-wx-plugin.js"></script>
  <% } else { %>
  <script type="text/javascript" src="https://assets.growingio.com/sdk/wx/vds-wx-plugin.js2333"></script>
    <% } %>

</head>
<body>
<div id="app"></div>
</body>
</html>
